<div class='container'>
    <div class="row">
        <div *ngFor='let pokemon of pokemons' class="col s6 m4" >
        <div class="card horizontal" (click)="selectedItem(pokemon)" appCardHover="red">
            <div class="card-image">
            <img [src]="pokemon.picture">  
            </div>
            <div class="card-stacked" >
            <div class="card-content">
                <p>{{ pokemon.name }}</p>
                <p><small>{{ pokemon.created | date: 'dd/mm/yyyy HH:mm' }}</small></p>
                <p><small *ngFor="let type of pokemon.types" class="{{ type | pokemonType}}">{{type}}</small></p>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>  